
@font-face {font-family: "iconfont";
  src: url('iconfont.eot?t=1495802693344'); /* IE9*/
  src: url('iconfont.eot?t=1495802693344#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('iconfont.woff?t=1495802693344') format('woff'), /* chrome, firefox */
  url('iconfont.ttf?t=1495802693344') format('truetype'), /* chrome, firefox, opera, Safari, Android, iOS 4.2+*/
  url('iconfont.svg?t=1495802693344#iconfont') format('svg'); /* iOS 4.1- */
}

.iconfont {
  font-family:"iconfont" !important;
  font-size:16px;
  font-style:normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-tuichu:before { content: "\343b"; }

.icon-github:before { content: "\e69f"; }

.icon-touxiang:before { content: "\e64a"; }

.icon-zhuye:before { content: "\e600"; }

.icon-biaoqian:before { content: "\e623"; }

.icon-riqi:before { content: "\e60a"; }

.icon-sousuo_sousuo:before { content: "\e608"; }

